---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v2/top-headlines?apiKey=<NEWS_TOKEN>&country=tw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"error","code":"apiKeyInvalid","message":"Your API key is
        invalid or incorrect. Check your key, or go to https://newsapi.org to create
        a free API key."}'
  recorded_at: Mon, 17 Oct 2022 15:34:06 GMT
recorded_with: VCR 6.1.0
